/*
!/.gitignore
!/README.md
!/.config/dein/dein.toml
!/.config/dein/dein_lazy.toml
!/.vimrc
!/.zshrc
!/.bashrc
!/mac_set_up.sh
!/.drone.yml
!/Library/Application\ Support/Karabiner/private.xml
!/ruby-mine-settings.jar
!/ubuntu_set_up.sh
!/setup.sh
!/.config/dein/dein_denite.toml
!/.config/**/*.toml
